<html>
	<head>
		<link href="css/main.css" rel="stylesheet" type="text/css"></link>
		<!-- jQuery leetness -->
		<script src="lib/jquery/js/jquery-1.4.2.min.js" language="javascript" type="text/javascript">
		</script>
		<script src="js/main_onLoad.js" language="javascript" type="text/javascript">
		</script>
		<title>wall of lol - where the lulz begin</title>
	</head>
	<body>
		<div class="center_column" id="header">
			<img src="img/wol-logo" alt="Wall of LoL" id="logo" />
			<span id="author">written by phishpants && mad_gouki</span>
		</div>
		<div class="center_column" id="content">
			<ul id="feed" class="feed">
{% for tweet in tweets %}				<li class="tweet" id="{{ tweet.created_at }}">
					<p class="tweet_avatar">
						<a href="http://www.twitter.com/{{ tweet.from_user }}">
							<span style="display: block; background-image: url('{{ tweet.profile_image_url }}'); height: 48px; width: 48px;"></span>
						</a>
					</p>
					<p class="tweet_text">						
{% if tweet.to_user %}
							<a class="at_link" href="http://www.twitter.com/{{ tweet.to_user }}">@{{ tweet.to_user }}</a> 
{% endif %}
						{{ tweet.tweet_txt }}
					</p>
					<p class="tweet_info">
						&mdash; <a class="from_user" href="http://www.twitter.com/{{ tweet.from_user }}">{{ tweet.from_user }}</a> 
						<a class="tweet_id" href="/status/13691957569">#{{ tweet.tweetID }}</a> 
						<span class="created_at">{{ tweet.fuzzy_timestamp }}</span>
					</p>
				</li>{% endfor %}
			</ul>
		</div>
		<div class="center_column" id="footer">
			<div class="copyright">(c) 2010 yo' mama</div>
		</div>
	</body>
</html>